<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Measurement_Code.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Measurement_Code.Properties.Settings>
            <setting name="uiExposureTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="uiExposureTimeTmp" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ROIState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ROIX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ROIX0" serializeAs="String">
                <value>0</value>
            </setting>
        </Measurement_Code.Properties.Settings>
    </userSettings>
</configuration>
